127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ master01_ip }}       {{ master01 }}.cathdevelop.intra.uwccb {{ master01 }} master01
{{ master02_ip }}       {{ master02 }}.cathdevelop.intra.uwccb {{ master02 }} master02
{{ master03_ip }}       {{ master03 }}.cathdevelop.intra.uwccb {{ master03 }} master03

{{ workers01_ip }}      {{ workers01 }}.cathdevelop.intra.uwccb {{ workers01 }} worker01
{{ workers02_ip }}      {{ workers02 }}.cathdevelop.intra.uwccb {{ workers02 }} worker02

88.249.30.157   dak8srepo.cathdevelop.intra.uwccb dak8srepo repo
